
flake8==3.8.4
Flask==1.1.2


jedi==0.18.0
Jinja2==2.11.2

prompt-toolkit==3.0.16
protobuf==3.15.8
psycopg2==2.8.6
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pyflakes==2.2.0

pytest==6.1.2

pyzmq==22.0.3

SQLAlchemy==1.4.13
toml==0.10.2
tornado==6.1
traitlets==5.0.5
uritemplate==3.0.1
urllib3==1.26.4
waitress==1.4.4
wcwidth==0.2.5
Werkzeug==1.0.1
