<html>

<head>
    <title> {{ page_title }}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    
    <header>
        <div class="banner">
            <h1> </h1>
        </div>
    </header>
    <main>
        <!-- Navigation-->
        <div class="grid">
            <nav class="main-nav">
                <ul>
                    <li> <a href="#"> Home </a></li>
                    <li> <a href="comparison.html"> Drivers Comparison</a></li> 
                    <li> <a href="index.html"> Sign In </a></li>
                    <li> <a href="#"> Register </a> </li>
                </ul>




            </nav>

            <!-- Top Container-->
            <section class="top-container">
                <header class="showcase">
                    <h1>F1 Driver Comparison</h1>
                    <p>Compare your favourite drivers</p>
                    <a href="comparison.html" class="btn"> Compare </a>
                </header>
                <div class="top-box top-box-a">
                    <h4>Drivers</h4>
                    <p class="drivername"> Sebastian</p>
                    <a href="" class="btn"> Compare</a>
                </div>
                <div class="top-box top-box-b">
                    <h4>Drivers</h4>
                    <p class="drivername"> Lewis</p>
                    <a href="" class="btn">Compare</a>
                </div>

            </section>
            
            <!-- Grand Prix selection-->
            <section class="boxes">
                <div class="box">
                    <img src="" id="f1logo">
                    <h3>Grand Prix</h3>
                </div>

            </section>
            <!-- Info -->
            <section class="info">
                <img url(img/pic1.png) alt="">
                <div>
                    <h2> Your Business on the web</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi eveniet ducimus veritatis, quas odio esse ea voluptates. Pariatur, in.</p>
                    <a href="#" class="btn">Learn more</a>
                </div>
            </section>








        </div>
        
        
        
        
        {% block content%} {% endblock %}
    </main>
    <footer>
        <p>Max Toepfer &copy; 2021</p>
    </footer>
</body>
