/*CSS Variables */
@import url(//db.onlinewebfonts.com/c/06d0fb8eb5251a7dba7660fab5d2f0f9?family=Formula1+Display+Bold);
@font-face{
    @font-face {font-family: "Formula1 Display Bold"; src: url("//db.onlinewebfonts.com/t/06d0fb8eb5251a7dba7660fab5d2f0f9.eot"); src: url("//db.onlinewebfonts.com/t/06d0fb8eb5251a7dba7660fab5d2f0f9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/06d0fb8eb5251a7dba7660fab5d2f0f9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/06d0fb8eb5251a7dba7660fab5d2f0f9.woff") format("woff"), url("//db.onlinewebfonts.com/t/06d0fb8eb5251a7dba7660fab5d2f0f9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/06d0fb8eb5251a7dba7660fab5d2f0f9.svg#Formula1 Display Bold") format("svg"); }
    
}
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: #0 1px 5px rgba (104, 104, 104, 0.8);
    --red: #e10600;

}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}


body {
    background: var(--light);
    margin: 30px 50px;
    line-height: 1,4;
    font-family: "Formula1 Display Bold", sans-serif
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    border: 0;
    
    
}
.btn2 {
    background: red;
    color: var(--light);
    padding: 0.6rem 1.3rem;
    border: 0;
    border-radius: 8px;
}


img{
    max-width: 100%;
}

.grid{
    display: grid;
    grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);

}

.main-nav a {
    background: var(--red);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);

}


/* Top Container */

.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
   
}

/* Showcase */
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url(img/startpage.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    background-position: center;
    border-radius: 8px;
   
}
.showcase2{
    grid-area: showcase;
    min-height: 400px;
    background: url(img/gridlineup.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    border-radius: 8px;
    
}
.showcase3{
    grid-area: showcase;
    min-height: 400px;
    background: url(img/grandprix.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    grid-template-columns: repeat(2, 1fr);
    
   
}



select{
    box-shadow: 0 10px 25px rgba(0, 0, 0 ,0.2);
    font-size: 1.5rem;
    padding: 1em 1.5em;
    background: var(--dark);
    color: var(--light);
    border: 0;
    border-radius: 8px;

}


.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);

}
.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

.showcase2 h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--dark);
}

.showcase3 h2{
    font-size: 3rem;
    margin-top: 0;
    color: var(--light);

}
.showcase3 h3{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
    position: relative;

}


/* Top Box */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .drivername {
    font-size: 2.5rem;
    
}
.top-box-a{
    grid-area: top-box-a;
    background: url(img/SV05.jpg);
    background-position: center;
    background-size: cover;
    padding: 3rem;
    box-shadow: var(--shadow);
    border-radius: 8px;

    
    
    
   
}
.top-box-b{
    grid-area: top-box-b;
    background: url(img/MV33.jpg);
    background-position: center;
    background-size: cover;
    padding: 3rem;
    box-shadow: var(--shadow);
    border-radius: 8px;
    
    
    
    

}
.drivername{
    font-size: 1.3rem;
    color: var(--light);

}


/* Boxes */
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));
}
.boxes2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(autofit, minmax(200px, 2fr));
}

.box{
    background: var(--red);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
    color: var(--light);
    border-radius: 8px;


}
.box2{
    background: var(--red);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
    border-radius: 8px;
}

.boxes-result{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    box-shadow: var(--shadow);
    background: var(--red);
    background: url(img/results.jpg);
    text-align: center;
    border-radius: 8px;
    color: var(--light);
    background-position: top -820px;
}
.boxes-result h3{
    font-size: 1.5rem;
    margin-bottom: 0;
    color: var(--dark);
    position: relative;
    color: var(--light);
}
.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}
.info2{
    background: var(--red);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    color: var(--light);
    border-radius: 8px;
}
.info2 h2{
    font-size: 2rem;
}
.info3{
    background: url(img/pole.jpg);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    padding: 3rem;
    color: var(--light);
    text-align: left;
    background-position: center;
    background-size: cover;
}
.info3 h2{
    font-size: 3rem;
}
.info3 p{
    font-size: 1.2rem;
}
footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
    border-radius: 8px;


}
