<html>

<head>
    <title>F1 Stats</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
</head>

<body>
    
    <header>
        <div class="banner">
            <h1> </h1>
        </div>
    </header>
    <main>
        <!-- Navigation-->
        <div class="grid">
            <nav class="main-nav">
                <ul>
                    <li> <a href="#"> Home </a></li>
                    <li> <a href="comparison.html"> Drivers Comparison</a></li> 
                    <li> <a href="index.html"> Sign In </a></li>
                    <li> <a href="#"> Register </a> </li>
                </ul>




            </nav>

            <!-- Top Container-->
            <section class="top-container">
                <header class="showcase">
                    <h1>F1 Driver Comparison</h1>
                    <p>Compare your favourite drivers</p>
                    
                    <a href="comparison.html" class="btn"> Compare </a>
                </header>
                <div class="top-box top-box-a">
                    <p class="drivername"> Pick Sebastian</p>
                    <a href="comparison.html" class="btn"> Compare</a>
                    
                </div>
                <div class="top-box top-box-b">
                    <p class="drivername"> Pick Max</p>
                    <a href="comparison.html" class="btn">Compare</a>
                   
                </div>

            </section>
            
            <!-- Grand Prix selection-->
            <section class="boxes">
                <div class="box">
                    <h3>2021</h3>
                </div>

            </section>
            <!-- Info -->
            <section class="info3">
                <div>
                    <h2> News </h2>

                    <p>Hamilton claims the 100th pole of his career.
                        100th pole ‘feels like one of the first’, says Hamilton as he explains how he overcame balance issues to edge Verstappen.
                        He is a man accustomed to making history, but even Lewis Hamilton was struggling to comprehend his achievement after becoming the first F1 driver ever to reach 100 pole positions in a thrilling qualifying session in Spain on Saturday.
                    </p>
                    <br>
                    <br>
                    <br>
                    <a href="https://www.formula1.com/en/latest/article.100th-pole-feels-like-one-of-the-first-says-hamilton-as-he-explains-how-he.6SpmtPnfaqTpaLGub7FceB.html" class="btn">Learn more</a>
                </div>
            </section>








        </div>
        
        
        
        
        {% block content%} {% endblock %}
    </main>
    <footer>
        <p>Max Toepfer &copy; 2021</p>
    </footer>
</body>
