<html>

<head>
    <title>Comparison</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    
    <header>
        <div class="banner">
            <h1> </h1>
        </div>
    </header>
    <main>
        <!-- Navigation-->
        <div class="grid">
            <nav class="main-nav">
                <ul>
                    <li> <a href="/"> Home </a></li>
                    <li> <a href="comparison.html"> Drivers Comparison</a></li> 
                    <li> <a href="index.html"> Sign In </a></li>
                    <li> <a href="#"> Register </a> </li>
                </ul>




            </nav>

            <!-- Top Container-->
            <section class="top-container">
                <header class="showcase2">
                    <h1>Drivers</h1>
                    <p>Choose your drivers</p>
                    <a href="comparison.html" class="btn"> Compare </a>
                </header>

                <div class="top-box top-box-a">
                   
                    <p class="drivername"> Driver 1</p>
                    <form action="driverdata" method="post">
                    <div class="driver-select1">
                        <select name="driver1">
                            {% for driver in drivers %}
                            <option value="{{driver}}">{{driver}}</option>
                            {% endfor %}
                        </select>
                        
                     
                    </div>
                    
                </div>
                <div class="top-box top-box-b">
                  
                    <p class="drivername"> Driver 2</p>
                    <div class="driver-select2">
                        <select name="driver2">
                            {% for driver in drivers %}
                            <option value="{{driver}}">{{driver}}</option>
                            {% endfor %}
                        </select>
                        
                     
                    </div>
                </div>

            </section>
            
            <!-- Grand Prix selection-->
            <section class="boxes2">
                <div class="box2">
                <header class="showcase3">
                    <h2>Grand Prix</h2>
                    <br>
                    
                    <div class="grandprix-select">
                        <select name="track_type">
                            {% for track in tracks %}
                            <option value="{{track}}">{{track}}</option>
                            {% endfor %}
                        </select>
                    
                    </div>
                    <br>
                    <div class="year-select">
                        <select name="year">
                            {% for year in year %}
                            <option value="{{year}}">{{year}}</option>
                            {% endfor %}
                        </select>
                    
                    </div>
                    <br>
                    <div class="session-select">
                        <select name="session">
                            {% for session in session %}
                            <option value="{{session}}">{{session}}</option>
                            {% endfor %}
                        </select>
                    
                    </div>
                    <br>
                    <button type="submit" class="btn2"> Compare </button>
                    </form>

                    
                </header>
                </div>

            </section>
            <!-- Info -->
            <section class="info">
                <div>
                    <h2> Your Business on the web</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi eveniet ducimus veritatis, quas odio esse ea voluptates. Pariatur, in.</p>
                    <a href="#" class="btn">Learn more</a>
                </div>
            </section>








        </div>
        
        
        
        
        {% block content%} {% endblock %}
    </main>
    <footer>
        <p>Max Toepfer &copy; 2021</p>
    </footer>
</body>
